.card {
  width: 600px;
  margin: 0 auto;
}
.btn {
  background: darkgreen;
  color: antiquewhite;
  padding: 5px 18px;
  margin-top: 10px;
  font-size: 15px;
  border: none;
  cursor: pointer;
  transition: opacity 0.2s ease-in;
}

.btn:disabled {
  cursor: not-allowed;
  background: grey;
  color: #111;
}
